#foot_nav li {
	list-style-type: none;
	margin: 0 auto;
}

#foot_nav li a {
	text-decoration: none;
	list-style-type: none;
	text-align: center;
}

ul {
	margin: auto;
	width: 70%;
	display: inline-block;
	padding-left: 0;
}

#random_Num {
	background-color: white;
	border: 2px solid black;
}

#random_Num:hover {
	background-color: black;
	color: white;
}

#viewer {
	height: 100%;
	width: auto;
	margin-bottom: 10px;
}
