#foot_nav li {
	list-style-type: none;
	margin: 0 auto;
}

#foot_nav {
	border: solid 1px black;
}

#foot_nav li a {
	text-decoration: none;
	list-style-type: none;
	text-align: center;
}

ul {
	margin: auto;
	width: 70%;
}

#viewer {
	height: 100%;
	width: auto;
}
